@CHARSET "UTF-8";

/* -------------------------------- 

Primary style

-------------------------------- */
body {
	font-size: 1.5em;
	background: #fff url(../images/body-bg.png) 0 0 repeat;
}

/* -------------------------------- 

Main Components 

-------------------------------- */
#content {
	padding: .5em;
	background: rgba(255, 255, 255, 0.33);
}

.affix {
	top: 0;
	width: 100%;
}

.required:before {
	content: " * ";
	color: red;
	font-weight: 900;
}

.identity {
	font-family: monospace;
	font-weight: bolder;
	color: darkgreen;
}

