@CHARSET "UTF-8";

/* -------------------------------- 

Primary style

-------------------------------- */
body {
	font-size: 1.5em;
	background: #fff url(../images/body-bg.png) 0 0 repeat;
}

h1 {
	text-align: center;
	font-weight: 800;
	font-size: 3em;
	color: #646464;
}

/* -------------------------------- 

Main Components 

-------------------------------- */
#content {
	background: rgba(255, 255, 255, 0.33);
}

.affix {
	top: 0;
	width: 100%;
}

.required:after {
	content: " * ";
	color: red;
	font-weight: 900;
}

.identity {
	font-family: monospace;
	font-weight: bolder;
	color: darkgreen;
}

.radio-group {
	padding: 6px 12px;
}

.row-selecting {
	height: 18px;
	width: 18px;
}

.panel-heading h3 {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	line-height: normal;
	width: 50%;
	font-weight: bolder;
	margin-top: 10px;
	margin-bottom: 5px;
}

.ui-datepicker-title select {
	color: cornflowerblue;
}