@CHARSET "UTF-8";

/* -------------------------------- 

Primary style

-------------------------------- */
body {
	background: #fff url(../images/body-bg.png) 0 0 repeat;
}

/* -------------------------------- 

Main Components 

-------------------------------- */
#menu {
	position: relative;
	margin: auto;
	height: 50px;
}

#header {
	position: relative;
	height: 250px;
}

#content {
	margin: auto;
	padding: 10px;
	background: rgba(255, 255, 255, 0.33);
	position: relative;
}

#footer {
	position: relative;
	margin: auto;
	height: 50px;
}

#user-box {
	position: absolute;
	top: 0;
	right: 0;
	font-weight: bold;
	padding: 15px;
	color: #9d9d9d;
}